/*fondo de pantalla*/
ion-content{
    --background: rgb(98, 5, 219);
}
/*imagen*/
#triangulo{
  margin-top: -10%;
}
/*Mensaje*/
h1{
  display: flex;
  margin-top: -32vh;
  font-size: 20px;
  margin-left: 8vh;
}
/*dise単o del logo*/
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 290px;
    margin-left: 30px;
    margin-top: -250px;
  }
  /*dise単o del iniciar session*/
.title{
    font-size: 50px;
    color: white;
    position: absolute;
    margin: 10px;
    top: 250px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
/*color del input*/
.user{
    color: rgba(255, 255, 255, 0.494);
}
/* lista de usuario*/
ion-list.session{
  background-color: transparent;
  position: absolute;
  font-size: 20px;
  top: 40vh;
  left: 4vh;
  width: 300px;
}
/*Dise単o del buton ingresar*/

.center-button{
  margin-top: 25%;
  margin-left: 35%;
}
.button-center{
  margin-top: -4%;
  margin-left: 32%;
}

/*.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -100%;
  }
.button-ingr{
  width: 140px;
    height: 70px;
    background-color: #993beb;
    color: white;
    border-radius: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    outline: none;
  font-weight: bold;
}*/
/*button de olvidaste la contrase単a*/
ion-footer{
  background-color: #6e16bb;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.olvi{
  background-color: transparent;
  color: white;
  font-size: 20px;
}
.colormat{
  background-color: yellow;
}
/*bar*/
mat-progress-bar.colormat{
  margin-top: -25%;
}
.avatar{
  transition: transform is linear;
}
.avatar.rotate{
  transform: rotate(360deg);
}
.reg{
  display: flex;
  margin-top: 10vh;
}
ion-item{
  top: 8vh;
}
/* ajuste el lugar del seleccion del rol */
ion-item.rol {
  margin-top: -380px; 
}
@media screen and (max-width: 768px ){
  .clase-elemento{
    font-size: 14px;
  }
  }
@media screen and (max-width: 768px ){
  .imagen{
    width: 80%;
  }
}