<ion-content [fullscreen]="true" class="content-container">
  <div class="logo">
    <img  src="../../assets/logoapp_20230914_210644_0000.png" alt="logo">
  </div>
  <div class="black-box">
    <h1 id="Tittle">Bienvenid@</h1>
    <ion-label>{{user.usuario}}</ion-label>
    <div class="qr">
      <img src="../../assets/frame.png" alt="qr">
    </div>
    <h3>scanea aqui para quedar presente</h3>
    <!-- esto es para que se vea el url de la pagina del qr que escaneas-->
    <!--ion-list>
      <ion-item *ngFor="let barcode of barcodes">
        <ion-label position="stacked">{{ barcode.format }}</ion-label>
        <ion-input type="text" [value]="barcode.rawValue"></ion-input>
        </ion-item>
    </ion-list-->
    <ion-button (click)="scan()" >Scannear</ion-button>
    <!-- <ion-button (click)="scan()" [disabled]="!isSupported">Scannear</ion-button>-->
  </div>
  <ion-menu side="end" contentId="main-content">
    
    <ion-content class="ion-padding"></ion-content>
    <div class="registro">
      <ion-button  id="registr" fill="clear" class="custom-button">
        Registro
      </ion-button>
    </div>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </div>

  <ion-modal trigger="registr">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Registro</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-label>{{user.usuario}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
