<ion-content [fullscreen]="true" class="content-container">
  <div class="logo">
    <img  src="../../assets/logoapp_20230914_210644_0000.png" alt="logo">
  </div>
  <div class="black-box">
    <h1 id="Tittle">Bienvenid@</h1>
    <ion-label>{{user.usuario}}</ion-label>
    <div class="qr">
      <img src="../../assets/frame.png" alt="qr">
    </div>
    <h3>scanea aqui para quedar presente</h3>
    <ion-button (click)="scan()" [disabled]="!isSupported" >Scannear</ion-button>
  </div>
</ion-content>
<!--ion-list>
  <ion-item *ngFor="let barcode of barcodes">
    <ion-label position="stacked">{{ barcode.format }}</ion-label>
    <ion-input type="text" [value]="barcode.rawValue"></ion-input>
  </ion-item>
</ion-list-->